name: Build release

on:
  push:
    tags:
      - 'v*'
  workflow_dispatch:
    inputs:
      releaseType:
        description: Release type
        required: true
        type: choice
        options:
          - patch
          - minor
          - major
      releaseNotes:
        description: Custom release notes (optional)
        required: false
        type: string

permissions:
  contents: write

jobs:
  goreleaser:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: philipparndt/get-release-number@v3
        id: next
        if: github.event_name == 'workflow_dispatch'
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          releaseType: ${{ github.event.inputs.releaseType }}

      - name: Create tag if workflow_dispatch
        if: github.event_name == 'workflow_dispatch'
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git tag -a v${{ steps.next.outputs.version }} -m "Release v${{ steps.next.outputs.version }}"
          git push origin v${{ steps.next.outputs.version }}

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.24.5'
          check-latest: true

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Generate Changelog
        id: changelog
        if: github.event.inputs.releaseNotes != ''
        run: |
          echo "${{ github.event.inputs.releaseNotes }}" > ./app/RELEASE_NOTES.md
          echo "CUSTOM_RELEASE_NOTES=true" >> $GITHUB_ENV

      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v6
        with:
          distribution: goreleaser
          version: v2
          args: release --clean ${{ env.CUSTOM_RELEASE_NOTES == 'true' && '--release-notes=./RELEASE_NOTES.md' || '' }}
          workdir: ./app
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          DOCKER_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
          DOCKER_PASSWORD: ${{ secrets.DOCKERHUB_TOKEN }}
